{% extends 'my_site/base.html' %}
{% block title %}Отзывы{% endblock %}
{% block content %}
{% load static %}
<div id="blog" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="contact-form">
							<h4>Оставьте ваш отзыв</h4>
							<form method="post">
								{% csrf_token %}
								{{new_form.title}}<br>
								{{new_form.content}}<br>
								<button type="submit" class="main-button icon-button">Добавить</button>
							</form>
						</div>
						{% for i in all_form %}
						<div class="blog-comments">
							<div class="media">
								<div class="media-body">
									<h4 class="media-heading">{{i.title}}</h4>
									<p>{{i.content}}</p>
									<br>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
</div>
{% endblock %}